<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211685825322-g0i9nesck10qefkddjefo6s0p6mghfpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211685825322-g0i9nesck10qefkddjefo6s0p6mghfpu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZjEzoLfWKg4HkUaaL2AF_wdE2Q6RhnKc</string>
	<key>GCM_SENDER_ID</key>
	<string>211685825322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.root.bodtChat</string>
	<key>PROJECT_ID</key>
	<string>bodtchat</string>
	<key>STORAGE_BUCKET</key>
	<string>bodtchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211685825322:ios:0390a2855dc5045c</string>
	<key>DATABASE_URL</key>
	<string>https://bodtchat.firebaseio.com</string>
</dict>
</plist>